body {
  font-family: "Gilroy";
  background-color: $backgroundMainColor;
  color: $mainWhite;
  font-weight: 400;
}

button, label {
  cursor: pointer;
}

button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  color: inherit;
}

button, img {
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}