.header {
  position: fixed;
  top: 0;
  left: 0;
  padding-block: clamp(rem(30), 5vw, rem(15));
  width: 100vw;

  &Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}